In [6]:
import pandas as pd
import numpy as np

In [8]:
dfhr = pd.read_csv(filepath_or_buffer = "/Users/lalemus/Desktop/Escuela de Bayes/Business Analytics/Recursos Humanos/HRDataset_v13.csv")

In [9]:
dfhr.shape

(401, 35)

In [12]:
dfhr.dtypes

Employee_Name                  object
EmpID                         float64
MarriedID                     float64
MaritalStatusID               float64
GenderID                      float64
EmpStatusID                   float64
DeptID                        float64
PerfScoreID                   float64
FromDiversityJobFairID        float64
PayRate                       float64
Termd                         float64
PositionID                    float64
Position                       object
State                          object
Zip                           float64
DOB                            object
Sex                            object
MaritalDesc                    object
CitizenDesc                    object
HispanicLatino                 object
RaceDesc                       object
DateofHire                     object
DateofTermination              object
TermReason                     object
EmploymentStatus               object
Department                     object
ManagerName                    object
ManagerID                     float64
RecruitmentSource              object
PerformanceScore               object
EngagementSurvey              float64
EmpSatisfaction               float64
SpecialProjectsCount          float64
LastPerformanceReview_Date     object
DaysLateLast30                float64
dtype: object

In [15]:
dfhr.head(10)

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,PayRate,...,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30
0,"Brown, Mia",1.103024e+09,1.0,1.0,0.0,1.0,1.0,3.0,1.0,28.50,...,Admin Offices,Brandon R. LeBlanc,1.0,Diversity Job Fair,Fully Meets,2.04,2.0,6.0,1/15/2019,0.0
1,"LaRotonda, William",1.106027e+09,0.0,2.0,1.0,1.0,1.0,3.0,0.0,23.00,...,Admin Offices,Brandon R. LeBlanc,1.0,Website Banner Ads,Fully Meets,5.00,4.0,4.0,1/17/2019,0.0
2,"Steans, Tyrone",1.302053e+09,0.0,0.0,1.0,1.0,1.0,3.0,0.0,29.00,...,Admin Offices,Brandon R. LeBlanc,1.0,Internet Search,Fully Meets,3.90,5.0,5.0,1/18/2019,0.0
3,"Howard, Estelle",1.211051e+09,1.0,1.0,0.0,1.0,1.0,3.0,0.0,21.50,...,Admin Offices,Brandon R. LeBlanc,1.0,Pay Per Click - Google,Fully Meets,3.24,3.0,4.0,NaN,NaN
4,"Singh, Nan",1.307060e+09,0.0,0.0,0.0,1.0,1.0,3.0,0.0,16.56,...,Admin Offices,Brandon R. LeBlanc,1.0,Website Banner Ads,Fully Meets,5.00,3.0,5.0,1/15/2019,0.0
5,"Smith, Leigh Ann",7.110077e+08,1.0,1.0,0.0,5.0,1.0,3.0,1.0,20.50,...,Admin Offices,Brandon R. LeBlanc,1.0,Diversity Job Fair,Fully Meets,3.80,4.0,4.0,NaN,NaN
6,"Bunbury, Jessica",1.504073e+09,1.0,1.0,0.0,5.0,6.0,3.0,0.0,55.00,...,Sales,John Smith,17.0,Social Networks - Facebook Twitter etc,Fully Meets,3.14,5.0,0.0,NaN,NaN
7,"Carter, Michelle",1.403066e+09,0.0,0.0,0.0,1.0,6.0,3.0,0.0,55.00,...,Sales,John Smith,17.0,Billboard,Fully Meets,5.00,5.0,0.0,1/21/2019,0.0
8,"Dietrich, Jenna",1.408069e+09,0.0,0.0,0.0,1.0,6.0,1.0,0.0,55.00,...,Sales,John Smith,17.0,Website Banner Ads,PIP,2.30,1.0,0.0,1/29/2019,0.0
9,"Digitale, Alfred",1.306059e+09,1.0,1.0,1.0,1.0,6.0,3.0,0.0,56.00,...,Sales,John Smith,17.0,Pay Per Click - Google,Fully Meets,3.60,5.0,0.0,1/30/2019,0.0

In [18]:
dfhr.tail(5)

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,PayRate,...,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30
396,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
398,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
dfhr1 = dfhr[["Employee_Name","PayRate","Position","State","Sex","DOB","MaritalDesc","CitizenDesc","Department",
             "PerformanceScore","EngagementSurvey","EmpSatisfaction"]]

In [21]:
dfhr1.head(10)

,Employee_Name,PayRate,Position,State,Sex,DOB,MaritalDesc,CitizenDesc,Department,PerformanceScore,EngagementSurvey,EmpSatisfaction
0,"Brown, Mia",28.50,Accountant I,MA,F,11/24/87,Married,US Citizen,Admin Offices,Fully Meets,2.04,2.0
1,"LaRotonda, William",23.00,Accountant I,MA,M,04/26/84,Divorced,US Citizen,Admin Offices,Fully Meets,5.00,4.0
2,"Steans, Tyrone",29.00,Accountant I,MA,M,09/01/86,Single,US Citizen,Admin Offices,Fully Meets,3.90,5.0
3,"Howard, Estelle",21.50,Administrative Assistant,MA,F,09/16/85,Married,US Citizen,Admin Offices,Fully Meets,3.24,3.0
4,"Singh, Nan",16.56,Administrative Assistant,MA,F,05/19/88,Single,US Citizen,Admin Offices,Fully Meets,5.00,3.0
5,"Smith, Leigh Ann",20.50,Administrative Assistant,MA,F,06/14/87,Married,US Citizen,Admin Offices,Fully Meets,3.80,4.0
6,"Bunbury, Jessica",55.00,Area Sales Manager,VA,F,06/01/64,Married,Eligible NonCitizen,Sales,Fully Meets,3.14,5.0
7,"Carter, Michelle",55.00,Area Sales Manager,VT,F,05/15/63,Single,US Citizen,Sales,Fully Meets,5.00,5.0
8,"Dietrich, Jenna",55.00,Area Sales Manager,WA,F,05/14/87,Single,US Citizen,Sales,PIP,2.30,1.0
9,"Digitale, Alfred",56.00,Area Sales Manager,NH,M,09/14/88,Married,US Citizen,Sales,Fully Meets,3.60,5.0