# Sort Values - Rename

In [17]:
import pandas as pd
import matplotlib.pyplot as plt

In [18]:
fifa20 = pd.read_csv("players_20.csv")

In [19]:
fifa20.head()

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3

In [20]:
fifa20.tail()

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
18273,245006,https://sofifa.com/player/245006/shuai-shao/20...,Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
18274,250995,https://sofifa.com/player/250995/mingjie-xiao/...,Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
18275,252332,https://sofifa.com/player/252332/wei-zhang/20/...,Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
18276,251110,https://sofifa.com/player/251110/haijian-wang/...,Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
18277,233449,https://sofifa.com/player/233449/ximing-pan/20...,Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,...,48+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2

In [21]:
fifa20.shape

(18278, 104)

In [22]:
fifa20_1 = fifa20[["short_name", "age", "height_cm", "weight_kg", "nationality", "club", "overall", "potential", "value_eur",
                 "wage_eur", "player_positions", "power_jumping", "power_long_shots"]]

In [23]:
fifa20_1.head(6)

,short_name,age,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,player_positions,power_jumping,power_long_shots
0,L. Messi,32,170,72,Argentina,FC Barcelona,94,94,95500000,565000,"RW, CF, ST",68,94
1,Cristiano Ronaldo,34,187,83,Portugal,Juventus,93,93,58500000,405000,"ST, LW",95,93
2,Neymar Jr,27,175,68,Brazil,Paris Saint-Germain,92,92,105500000,290000,"LW, CAM",61,84
3,J. Oblak,26,188,87,Slovenia,Atlético Madrid,91,93,77500000,125000,GK,78,12
4,E. Hazard,28,175,74,Belgium,Real Madrid,91,91,90000000,470000,"LW, CF",56,80
5,K. De Bruyne,28,181,70,Belgium,Manchester City,91,91,90000000,370000,"CAM, CM",63,90

In [24]:
fifa20_1.shape

(18278, 13)

## Ordenar de menor a mayor

In [25]:
fifa20_1.sort_values("overall").head()

,short_name,age,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,player_positions,power_jumping,power_long_shots
18277,Pan Ximing,26,182,78,China PR,Hebei China Fortune FC,48,51,40000,2000,CM,64,30
18252,A. Aksungur,18,175,72,Turkey,Denizlispor,48,65,60000,1000,CM,61,30
18251,G. Sykes-Kenworthy,19,182,78,England,Bradford City,48,65,50000,1000,GK,52,8
18250,R. Roache,19,178,74,Republic of Ireland,Blackpool,48,65,60000,1000,ST,68,41
18249,Shan Huanhuan,20,185,75,China PR,Dalian YiFang FC,48,65,70000,2000,ST,34,39

## Ordenar de mayor a menor

In [26]:
fifa20_1.sort_values("overall", ascending = False).head()

,short_name,age,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,player_positions,power_jumping,power_long_shots
0,L. Messi,32,170,72,Argentina,FC Barcelona,94,94,95500000,565000,"RW, CF, ST",68,94
1,Cristiano Ronaldo,34,187,83,Portugal,Juventus,93,93,58500000,405000,"ST, LW",95,93
2,Neymar Jr,27,175,68,Brazil,Paris Saint-Germain,92,92,105500000,290000,"LW, CAM",61,84
3,J. Oblak,26,188,87,Slovenia,Atlético Madrid,91,93,77500000,125000,GK,78,12
4,E. Hazard,28,175,74,Belgium,Real Madrid,91,91,90000000,470000,"LW, CF",56,80

In [27]:
realmadrid = fifa20_1[fifa20_1["club"] == "Real Madrid"]
print(realmadrid.shape)

(33, 13)

In [28]:
realmadrid.head()

,short_name,age,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,player_positions,power_jumping,power_long_shots
4,E. Hazard,28,175,74,Belgium,Real Madrid,91,91,90000000,470000,"LW, CF",56,80
8,L. Modrić,33,172,66,Croatia,Real Madrid,90,90,45000000,340000,CM,68,82
18,Sergio Ramos,33,184,82,Spain,Real Madrid,89,89,31500000,300000,CB,93,62
28,T. Courtois,27,199,96,Belgium,Real Madrid,88,89,48000000,235000,GK,68,17
36,T. Kroos,29,183,76,Germany,Real Madrid,88,88,57000000,330000,CM,30,86

In [29]:
realmadrid.sort_values("overall", ascending = False).head()

,short_name,age,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,player_positions,power_jumping,power_long_shots
4,E. Hazard,28,175,74,Belgium,Real Madrid,91,91,90000000,470000,"LW, CF",56,80
8,L. Modrić,33,172,66,Croatia,Real Madrid,90,90,45000000,340000,CM,68,82
18,Sergio Ramos,33,184,82,Spain,Real Madrid,89,89,31500000,300000,CB,93,62
28,T. Courtois,27,199,96,Belgium,Real Madrid,88,89,48000000,235000,GK,68,17
36,T. Kroos,29,183,76,Germany,Real Madrid,88,88,57000000,330000,CM,30,86

In [30]:
realmadrid.sort_values("value_eur", ascending = False).head()

,short_name,age,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,player_positions,power_jumping,power_long_shots
4,E. Hazard,28,175,74,Belgium,Real Madrid,91,91,90000000,470000,"LW, CF",56,80
36,T. Kroos,29,183,76,Germany,Real Madrid,88,88,57000000,330000,CM,30,86
42,Casemiro,27,185,84,Brazil,Real Madrid,87,89,53500000,240000,CDM,87,81
62,Isco,27,176,79,Spain,Real Madrid,86,87,51000000,245000,"CAM, CM, LW",61,84
28,T. Courtois,27,199,96,Belgium,Real Madrid,88,89,48000000,235000,GK,68,17

## Cambiar nombre a columnas

In [31]:
realmadrid.rename(columns = {'age':'edad'}).head()

,short_name,edad,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,player_positions,power_jumping,power_long_shots
4,E. Hazard,28,175,74,Belgium,Real Madrid,91,91,90000000,470000,"LW, CF",56,80
8,L. Modrić,33,172,66,Croatia,Real Madrid,90,90,45000000,340000,CM,68,82
18,Sergio Ramos,33,184,82,Spain,Real Madrid,89,89,31500000,300000,CB,93,62
28,T. Courtois,27,199,96,Belgium,Real Madrid,88,89,48000000,235000,GK,68,17
36,T. Kroos,29,183,76,Germany,Real Madrid,88,88,57000000,330000,CM,30,86

In [32]:
realmadrid.rename(columns = {'player_positions':'posición'}).head()

,short_name,age,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,posición,power_jumping,power_long_shots
4,E. Hazard,28,175,74,Belgium,Real Madrid,91,91,90000000,470000,"LW, CF",56,80
8,L. Modrić,33,172,66,Croatia,Real Madrid,90,90,45000000,340000,CM,68,82
18,Sergio Ramos,33,184,82,Spain,Real Madrid,89,89,31500000,300000,CB,93,62
28,T. Courtois,27,199,96,Belgium,Real Madrid,88,89,48000000,235000,GK,68,17
36,T. Kroos,29,183,76,Germany,Real Madrid,88,88,57000000,330000,CM,30,86

## Eliminar columnas

In [33]:
rm = realmadrid.drop(columns = ["short_name", "age"])

In [34]:
rm.head()

,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,player_positions,power_jumping,power_long_shots
4,175,74,Belgium,Real Madrid,91,91,90000000,470000,"LW, CF",56,80
8,172,66,Croatia,Real Madrid,90,90,45000000,340000,CM,68,82
18,184,82,Spain,Real Madrid,89,89,31500000,300000,CB,93,62
28,199,96,Belgium,Real Madrid,88,89,48000000,235000,GK,68,17
36,183,76,Germany,Real Madrid,88,88,57000000,330000,CM,30,86

## Mostrar filas que cumplan un criterio

In [35]:
realmadrid[realmadrid.overall > 88]

,short_name,age,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,player_positions,power_jumping,power_long_shots
4,E. Hazard,28,175,74,Belgium,Real Madrid,91,91,90000000,470000,"LW, CF",56,80
8,L. Modrić,33,172,66,Croatia,Real Madrid,90,90,45000000,340000,CM,68,82
18,Sergio Ramos,33,184,82,Spain,Real Madrid,89,89,31500000,300000,CB,93,62

In [36]:
realmadrid[realmadrid.age > 30]

,short_name,age,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,player_positions,power_jumping,power_long_shots
8,L. Modrić,33,172,66,Croatia,Real Madrid,90,90,45000000,340000,CM,68,82
18,Sergio Ramos,33,184,82,Spain,Real Madrid,89,89,31500000,300000,CB,93,62
46,K. Benzema,31,185,81,France,Real Madrid,87,87,45000000,285000,"CF, ST",77,76
53,K. Navas,32,185,80,Costa Rica,Real Madrid,87,87,30500000,195000,GK,74,13
101,Marcelo,31,174,75,Brazil,Real Madrid,85,85,28000000,205000,LB,77,70

In [37]:
realmadrid[realmadrid.weight_kg > 83]

,short_name,age,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,player_positions,power_jumping,power_long_shots
28,T. Courtois,27,199,96,Belgium,Real Madrid,88,89,48000000,235000,GK,68,17
42,Casemiro,27,185,84,Brazil,Real Madrid,87,89,53500000,240000,CDM,87,81
161,L. Jović,21,182,85,Serbia,Real Madrid,83,89,36500000,155000,ST,75,76
13116,Altube,19,188,85,Spain,Real Madrid,62,82,550000,6000,GK,53,8

## Selección aleatoria de filas (fracción)

In [38]:
realmadrid.shape

(33, 13)

In [39]:
realmadrid.head()

,short_name,age,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,player_positions,power_jumping,power_long_shots
4,E. Hazard,28,175,74,Belgium,Real Madrid,91,91,90000000,470000,"LW, CF",56,80
8,L. Modrić,33,172,66,Croatia,Real Madrid,90,90,45000000,340000,CM,68,82
18,Sergio Ramos,33,184,82,Spain,Real Madrid,89,89,31500000,300000,CB,93,62
28,T. Courtois,27,199,96,Belgium,Real Madrid,88,89,48000000,235000,GK,68,17
36,T. Kroos,29,183,76,Germany,Real Madrid,88,88,57000000,330000,CM,30,86

In [41]:
realmadrid.sample(frac=0.5)

,short_name,age,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,player_positions,power_jumping,power_long_shots
568,Vinícius Jr.,18,176,73,Brazil,Real Madrid,79,92,22500000,60000,LW,75,68
100,G. Bale,29,185,82,Wales,Real Madrid,85,85,37500000,250000,"RW, LW, ST",86,90
13116,Altube,19,188,85,Spain,Real Madrid,62,82,550000,6000,GK,53,8
106,J. Rodríguez,27,180,75,Colombia,Real Madrid,85,85,40500000,225000,"CAM, CM, RM",46,92
18,Sergio Ramos,33,184,82,Spain,Real Madrid,89,89,31500000,300000,CB,93,62
8898,Fidalgo,22,175,68,Spain,Real Madrid,66,76,1000000,27000,"CAM, CM, LM",51,48
4757,T. Kubo,18,173,67,Japan,Real Madrid,70,87,3700000,21000,"RM, CF",54,52
8777,Sergio López,20,179,66,Spain,Real Madrid,66,82,1300000,20000,RB,61,59
161,L. Jović,21,182,85,Serbia,Real Madrid,83,89,36500000,155000,ST,75,76
36,T. Kroos,29,183,76,Germany,Real Madrid,88,88,57000000,330000,CM,30,86
42,Casemiro,27,185,84,Brazil,Real Madrid,87,89,53500000,240000,CDM,87,81
101,Marcelo,31,174,75,Brazil,Real Madrid,85,85,28000000,205000,LB,77,70
4,E. Hazard,28,175,74,Belgium,Real Madrid,91,91,90000000,470000,"LW, CF",56,80
178,Marco Asensio,23,182,76,Spain,Real Madrid,83,87,34000000,180000,"LW, RW",58,84
94,Carvajal,27,173,73,Spain,Real Madrid,85,86,38000000,205000,RB,77,36
9922,De la Fuente,20,179,78,Spain,Real Madrid,65,81,1100000,18000,CB,69,39

## Selección aleatoria de filas (número)

In [43]:
realmadrid.sample(n=10)

,short_name,age,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,player_positions,power_jumping,power_long_shots
424,F. Mendy,24,180,73,France,Real Madrid,80,86,18000000,115000,LB,78,64
62,Isco,27,176,79,Spain,Real Madrid,86,87,51000000,245000,"CAM, CM, LW",61,84
403,Lucas Vázquez,28,173,70,Spain,Real Madrid,81,81,18000000,180000,"RW, RM",68,76
18,Sergio Ramos,33,184,82,Spain,Real Madrid,89,89,31500000,300000,CB,93,62
1256,Rodrygo,18,174,64,Brazil,Real Madrid,76,89,14000000,47000,"LW, RW, ST",73,70
4757,T. Kubo,18,173,67,Japan,Real Madrid,70,87,3700000,21000,"RM, CF",54,52
437,Odriozola,23,176,66,Spain,Real Madrid,80,85,17500000,115000,RB,71,59
8,L. Modrić,33,172,66,Croatia,Real Madrid,90,90,45000000,340000,CM,68,82
1009,F. Valverde,20,182,78,Uruguay,Real Madrid,77,85,13000000,86000,"CM, LM, CDM",44,77
42,Casemiro,27,185,84,Brazil,Real Madrid,87,89,53500000,240000,CDM,87,81